<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <!-- title of site -->
        <title>Ajhar Hussain | DevOps</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="./static/assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="./static/assets/css/font-awesome.min.css">

		<!--flat icon css-->
		<link rel="stylesheet" href="./static/assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="./static/assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="./static/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="./static/assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="./static/assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="./static/assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="./static/assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="./static/assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
		
		<!-- top-area Start -->
		<header class="top-area">
			<div class="header-area">
					<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
							<div class="container">
									<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
													<i class="fas fa-bars"></i> <!-- Use Font Awesome 5 class -->
											</button>
									</div>
									<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
											<ul class="nav navbar-nav">
													<li class="smooth-menu"><a href="#about">about</a></li>
													<li class="smooth-menu"><a href="#education">experience</a></li>
													<li class="smooth-menu"><a href="#skills">skills</a></li>
													<li class="smooth-menu"><a href="#experience">projects</a></li>
													<li class="smooth-menu"><a href="#clients">certifications</a></li>
											</ul>
											<ul class="nav navbar-nav navbar-right">
													<li><a href="https://www.linkedin.com/in/hussainajhar8/" target="_blank" class="fab fa-linkedin"><span class="label">LinkedIn</span></a></li> <!-- Use Font Awesome 5 class -->
													<li><a href="https://github.com/Hussainajhar8" target="_blank" class="fab fa-github"><span class="label">Github</span></a></li> <!-- Use Font Awesome 5 class -->
													<li><a href="mailto:hussainajhar8@gmail.com" target="_blank" class="fas fa-envelope"><span class="label">Email</span></a></li> <!-- Use Font Awesome 5 class -->
													<li><a href="./static/assets/ajhar_cv.pdf" target="_blank" download="ajhar_cv" class="far fa-file-alt"><span class="label">CV</span></a></li> <!-- Use Font Awesome 5 class -->
											</ul>
									</div>
							</div>
					</nav>
			</div>
			<div class="clearfix"></div>
	</header><!-- /.top-area-->
		<!-- top-area End -->
	
		<!--welcome-hero start -->
		<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<h2>hi, I<span> am </span>Ajhar. Hire me</h2>
							<p>DevOps Engineer</p>
							<div class="counter-number">You are visitor number: Couldn't get views</div>
							<a href="./static/assets/ajhar_cv.pdf" download>download resume</a>
						</div><!--/.header-text-->
					</div><!--/.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<section id="about" class="about">
			<div class="section-heading text-center">
					<h2>about me</h2>
			</div>
			<div class="container">
					<div class="about-content">
							<div class="row">
									<div class="col-sm-12"> <!-- Change col-sm-6 to col-sm-12 -->
											<div class="single-about-txt">
													<h3>
													
														I'm a cloud enthusiast with a year of hands-on experience in the field. I've been exposed to various DevOps practices such as automating tasks with Python scripting and Terraform, I streamline processes for efficiency. Additionally, I'm well-versed in Docker containerisation and have experience working with AWS, Terraform, GitLab, and Kubernetes, ensuring seamless integration across platforms.
														<br>
														<br>
														My commitment to continuous improvement led me to successfully complete The Cloud Resume Challenge, a testament to my expertise in essential cloud computing skills. I'm passionate about leveraging technology to drive innovation and solve complex challenges, and I look forward to contributing my skills to impactful projects in the future.
													</h3>
											</div>
									</div>
							</div>
					</div>
			</div>
		</section><!--/.about-->
	<!--about end -->

		<!--education start -->
		<section id="education" class="education">
			<div class="section-heading text-center">
				<h2>experience</h2>
			</div>
			<div class="container">
				<div class="education-horizontal-timeline">
					<div class="row">
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>July 2022- Oct 2022</h2>
									<h3>AWS re/start bootcamp</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<i class="fa fa-circle" aria-hidden="true"></i>
									<span class="single-timeline-horizontal"></span>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											Primed Talent
										</h4>
										<h5>London, United Kingdom</h5>
										<p class="description">
											- Grasped a foundation in the following tools:<br>
											- Linux, Python, Networking, Databases, Security and CI/CD.<br>
											- Obtained AWS and Azure certifications. <br>
											- Hands on labs with multiple AWS Services. <br>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>Oct 2022 - Present</h2>
									<h3>Self development<span> & </span> learning</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<i class="fa fa-circle" aria-hidden="true"></i>
									<span class="single-timeline-horizontal"></span>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											Self Employed
										</h4>
										<h5>London, United Kingdom</h5>
										<p class="description">
										- Upskilled in the following tools:<br>
										- Terraform, Docker, Kubernetes, Python and CI/CD.<br>
										- Obtained AWS Solutions Architect Associate certification. <br>
										- Deployed my portfolio website on AWS using best practices. <br>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="single-horizontal-timeline">
								<div class="experience-time">
									<h2>Feb 2024 - Present</h2>
									<h3>DevOps Engineer</h3>
								</div><!--/.experience-time-->
								<div class="timeline-horizontal-border">
									<i class="fa fa-circle" aria-hidden="true"></i>
									<span class="single-timeline-horizontal spacial-horizontal-line
									"></span>
								</div>
								<div class="timeline">
									<div class="timeline-content">
										<h4 class="title">
											Sparta Global
										</h4>
										<h5>London, United Kingdom</h5>
										<p class="description">
											- Designed Scalable and Fault Tolerant architectures in Cloud environments.<br>
											- Deployed a 2 tier-architecture using Terraform and Jenkins on AWS<br>
											- Containerised and managed applications using Docker and Kubernetes <br>
											- Obtained Terraform Associate certification. <br>
										</p>
									</div><!--/.timeline-content-->
								</div><!--/.timeline-->
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!--/.education-->
		<!--education end -->

		<!--skills start -->
		<section id="skills" class="skills">
			<div class="skill-content">
					<div class="section-heading text-center">
							<h2>Skills</h2>
					</div>
					<div class="container">
							<div class="row">
									<div class="col-md-12">
										<br>
										<br>
											<p align="center" style="display: flex; justify-content: center; gap: 20px;">
												<a rel="aws"><img src="./static/assets/images/skills/aws.png" alt="AWS" width="117"/></a>
												<a rel="azure"><img src="./static/assets/images/skills/azure.png" alt="Azure" width="112"/></a>
												<a rel="python"><img src="./static/assets/images/skills/python.png" alt="Python" width="92"/></a>
												<a rel="linux"><img src="./static/assets/images/skills/linux.png" alt="Linux" width="78"/></a>
												<a rel="terraform"><img src="./static/assets/images/skills/terraform.png" alt="Terraform" width="92" /></a>
												<a rel="githubaction"><img src="./static/assets/images/skills/githubaction.png" alt="GitHub Actions" width="80" /></a>
												<a rel="docker"><img src="./static/assets/images/skills/docker.png" alt="Docker" width="108" /></a>
												<a rel="kubernetes"><img src="./static/assets/images/skills/kubernetes.png" alt="Kubernetes" width="100" /></a>
												<!-- Add more skills here -->
											</p>											
									</div>
							</div>
					</div>
			</div>
	</section>
	<!--/.skills-->
		<!--skills end -->

		<!--experience start -->
		<section id="experience" class="experience">
			<div class="section-heading text-center">
				<h2>projects</h2>
			</div>
			<div class="container">
				<div class="experience-content">
						<div class="main-timeline">
							<ul>
								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>The Cloud Resume Challenge</h2>
													<h3> html | Css | javascript | Aws | Python | Terraform | GitHub Actions </h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title" >
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															ajharresume.com 
														</h4>
														<h5><a href="https://medium.com/@hussainajhar8/my-cloud-resume-challenge-journey-building-a-fully-automated-portfolio-9b5802badb14" target="_blank">Blog</a> | <a href="https://github.com/Hussainajhar8/my-aws-cloud-resume" target="_blank">GitHub Repo</a></h5>
														<p class="description">
															Developed and later automated a serverless web application, showcasing a dynamic HTML resume with a visitor counter. Utilized various AWS services such as S3, Lambda, API Gateway, DynamoDB, and CloudFront to build a responsive and secure web portfolio.  
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

								<li>
									<div class="single-timeline-box fix">
											<div class="row">
													<div class="col-md-offset-1 col-md-5 experience-time-responsive">
															<div class="experience-time">
																	<h2>
																			<span><i class="fa fa-circle" aria-hidden="true"></i></span>
																			3-Tier-Architecture
																	</h2>
																	<h3>AWS | Terraform | GitHub Action</h3>
															</div><!--/.experience-time-->
													</div><!--/.col-->
													<div class="col-md-5">
															<div class="timeline">
																	<div class="timeline-content text-right">
																			<h4 class="title">
																					3 tier web application on AWS via Terraform
																			</h4>
																			<h5><a href="https://github.com/Hussainajhar8/3-Tier-Architecture" target="_blank">GitHub Repo</a></h5>
																			<p class="description">
																					Created initial infrastructure including a VPC, public and private subnets, EC2 instances, RDS instance, and NAT Gateway. Later enhancements involved setting up an Application Load Balancer (ALB) with auto-scaling for efficient load distribution. EC2 instances were segregated in ALB subnets, and a secondary RDS instance was added for failover scenarios. Additionally, a GitHub workflow was implemented to automate infrastructure changes.
																			</p>
																	</div><!--/.timeline-content-->
															</div><!--/.timeline-->
													</div><!--/.col-->
													<div class="col-md-offset-1 col-md-5 experience-time-main">
															<div class="experience-time">
																	<h2>
																			<span><i class="fa fa-circle" aria-hidden="true"></i></span>
																			3-Tier-Architecture
																	</h2>
																	<h3>AWS | Terraform | GitHub Action</h3>
															</div><!--/.experience-time-->
													</div><!--/.col-->
											</div>
									</div><!--/.single-timeline-box-->
								</li>
							

								<li>
									<div class="single-timeline-box fix">
											<div class="row">
													<div class="col-md-5">
															<div class="experience-time text-right">
																	<h2>Northwind Application 2 tier deployment</h2>
																	<h3>AWS | Terraform | Jenkins</h3>
															</div><!--/.experience-time-->
													</div><!--/.col-->
													<div class="col-md-offset-1 col-md-5">
															<div class="timeline">
																	<div class="timeline-content">
																			<h4 class="title">
																					<span><i class="fa fa-circle" aria-hidden="true"></i></span>
																					Northwind Python App Deployment on AWS with Jenkins CI/CD and Terraform
																			</h4>
																			<h5><a href="https://github.com/Hussainajhar8/Northwind_Documentation" target="_blank">GitHub Repo</a></h5>
																			<p class="description">
																				Deployed Northwind Python application on AWS infrastructure using Jenkins CI/CD pipelines. Configured a two-tier architecture for scalability and security. Proficient in Jenkins automation, AWS provisioning, and Terraform for IAC. Applied Agile methodologies with Trello for collaboration. Streamlined deployment with automated CI/CD pipelines.
																			</p>
																	</div><!--/.timeline-content-->
															</div><!--/.timeline-->
													</div><!--/.col-->
											</div>
									</div><!--/.single-timeline-box-->
								</li>

							</ul>
						</div><!--.main-timeline-->
					</div><!--.experience-content-->
			</div>

		</section><!--/.experience-->
		<!--experience end -->

		<!--clients start -->
		<section id="clients" class="clients">
			<div class="section-heading text-center">
				<h2>certifications</h2>
			</div>
			<div class="clients-area">
				<div class="container">
					<div class="owl-carousel owl-theme" id="client">
						<div class="item">
							<a href="https://www.credly.com/badges/c5c816b9-a33f-4853-8b35-1d27c7f22aee/linked_in_profile" target="_blank" >
								<img src="./static/assets/images/clients/c1.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.credly.com/badges/16fb345c-4728-416e-9e9f-a1387e35de36/linked_in_profile" target="_blank" >
								<img src="./static/assets/images/clients/c2.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.credly.com/badges/b2592bdb-9692-4094-845d-54a1f6288a9b/linked_in_profile" target="_blank" >
								<img src="./static/assets/images/clients/c3.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.credly.com/badges/5398736a-d795-419a-b795-a0dbed5e5852" target="_blank">
								<img src="./static/assets/images/clients/c4.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.credly.com/earner/earned/badge/eb9b1bd6-6653-4406-81df-ddc18bbebe05" target="_blank">
								<img src="./static/assets/images/clients/c9.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a >
								<img src="./static/assets/images/clients/c10.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a >
								<img src="./static/assets/images/clients/c11.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a >
								<img src="./static/assets/images/clients/c12.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.container-->
			</div><!--/.clients-area-->

		</section><!--/.clients-->
		<!--clients end -->

		<!--footer-copyright start-->
		<footer id="footer-copyright" class="footer-copyright">
			<div class="container">
					<div class="hm-footer-copyright text-right">
							<p>
									&copy; 2023, Ajhar Hussain.
							</p><!--/p-->
					</div><!--/.text-right-->
			</div><!--/.container-->
	

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" ></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.footer-copyright-->
		<!--footer-copyright end-->
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="./static/assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="./static/assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="./static/assets/js/bootsnav.js"></script>
		
		<!-- jquery.sticky.js -->
		<script src="./static/assets/js/jquery.sticky.js"></script>
		
		<!-- for progress bar start-->

		<!-- progressbar js -->
		<script src="./static/assets/js/progressbar.js"></script>

		<!-- appear js -->
		<script src="./static/assets/js/jquery.appear.js"></script>

		<!-- for progress bar end -->

		<!--vistor counter index.js-->
		<script src="./static/assets/js/index.js"></script>

		<!--owl.carousel.js-->
        <script src="./static/assets/js/owl.carousel.min.js"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		
        
        <!--Custom JS-->
        <script src="./static/assets/js/custom.js"></script>
        
    </body>
	
</html>